@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: hsla(248, 86%, 15%, 1);

  background: linear-gradient(90deg, hsla(248, 86%, 15%, 1) 0%, hsla(268, 65%, 5%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(248, 86%, 15%, 1) 0%, hsla(268, 65%, 5%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(248, 86%, 15%, 1) 0%, hsla(268, 65%, 5%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0D0545", endColorstr="#0B0413", GradientType=1 );
}

